.navContainer {
  border-bottom: 1px solid #817575;
}

.Logo {
  color: #B30733;
}

.profileImage {
  border-radius: 25px;
  margin: 10px;
}

.myList {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 25px;
}

.myList li {
  margin: 0 20px;
}

.imageBox {
  border-right: 2px solid #817575;
}

.iconBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EF4C00;
  margin: 10px 10px;
  border-radius: 15px;
  width: 125px;
}

.iconBox i {
  font-size: 2.5rem;
  color: #FFFFFF;
  padding: 5px;
}

.iconBox p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5px;
  color: #FFFFFF;
}

.bannerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bannerBox_Banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.bannerBox_line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 25px;
  color: #EF4C00;
  font-weight: bold;
}

.headerContainer {
  background-image: url(Images/10882.png);
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 25px 25px 25px 25px;
  padding: 50px;
  background-size: cover;
}

.headerContainer_Banner {
  font-size: 40px;
  color: #FFFFFF;
  padding: 20px;
  width: 350px;
}

.headerContainer .downloadBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 200px;
  height: 70px;
  background-color: #B30733;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContainer .downloadBox .image1 {
  margin: 0 0 0 10px;
  height: 50px;
  width: 50px;
  color: #FFFFFF;
  font-size: 50px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.headerContainer .downloadBox .image2 {
  margin: 0 0 0 10px;
  height: 50px;
  width: 50px;
  color: #FFFFFF;
  font-size: 50px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-right: 20px;
}

.headerContainer .downloadBox .textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: -40px;
  margin-left: 40px;
  color: #FFFFFF;
}

.headerContainer .downloadBox .textBox h4 {
  margin-top: -10px;
  font-size: 25px;
}

.mealContainer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: #B30733;
  padding: 10px;
  padding-bottom: 30px;
  margin-top: 15px;
}

.mealContainer .mySearch {
  border-radius: 20px;
}

.mealContainer .buttonBox {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #EF4C00;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 2px 0px 0px 9px;
}

.mealContainer .buttonBox i {
  color: #FFFFFF;
  font-size: 20px;
}

.mealTag {
  font-size: 25px;
  font-weight: bold;
  color: #B30733;
}

.optionBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.optionBox .menuList {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
}

.optionBox .menuList li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 40px;
  margin-right: 20px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: lightgray;
  border-radius: 30px;
}

.optionBox .menuList .list--first {
  color: #FFFFFF;
  background-color: #EF4C00;
}

.optionBox .menuList .menuIcons {
  width: 25px;
  height: 25px;
}

.dish {
  border: 1px solid lightgray;
  border-radius: 20px;
  height: 250px;
}

.dish .dishImage--1 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image33.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishImage--2 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image34.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishImage--3 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image35.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishImage--4 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image36.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishImage--5 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image37.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishImage--6 {
  margin-top: -2px;
  margin-right: -1px;
  padding: 0px;
  height: 150px;
  border-radius: 20px 20px 0 0;
  background-image: url(Images/Image38.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.dish .dishBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 15px 0px 15px;
}

.dish i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 8px;
  color: #B30733;
  font-size: 20px;
}

.dish .dishName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.reviewBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  color: #B30733;
  padding: 0 15px 0 15px;
  height: 5px;
}

.reviewBox i {
  font-size: 10px;
  -ms-flex-preferred-size: 4%;
      flex-basis: 4%;
  color: #EF4C00;
}

.reviewBox p {
  margin: 10px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-radius: 5px;
}

.categoryBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 15px 0 15px;
  margin-top: 25px;
}

.categoryBox .dishCategory {
  padding: inherit;
  background-color: lightgray;
  border-radius: 20px;
  margin-left: 5px;
}

.categoryBox .timeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20px;
  margin: 0px;
}

.categoryBox .timeBox i {
  font-size: 20px;
  margin: -5px;
}

.categoryBox .timeBox p {
  margin: 3px 0 0 10px;
}
/*# sourceMappingURL=Layout.css.map */